

 <!DOCTYPE html>
 <html lang="en">
 
 <head>
     <meta charset="UTF-8">
     <title>Форма входа</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
 </head>
 
 <body>
     <div class="form-wrapper">
         <main class="form-side">
             <a href="#" title="Logo">
                 <img src="assets/images/logo.svg" alt="Laplace Logo" class="logo">
             </a>
             
             <form class="my-form" [formGroup]="form" (ngSubmit)="onSubmit()">
                 <div class="form-welcome-row" >
                     <h1>Добро пожаловать!👏</h1>
                     <h2>Войдите в свой аккаунт!</h2>
                 </div>
                 <p class="back-end-error" *ngIf="(validError$ | async)">
                  <span>{{(validError$ | async)}}</span>
                </p>
                <div class="text-field">
                    <label for="email">Логин</label>
                    <input type="login" id="login" name="email" autocomplete="login" placeholder="Введите ваш логин" formControlName="username" required>
                </div>
                <div class="text-field">
                    <label for="password">Пароль</label>
                    <input id="password" type="password" name="password" placeholder="Ваш пароль" formControlName="password" required>
                </div>
                <button class="my-form__button" type="submit" [disabled]="isSubmitting$ | async">
                    Войти
                </button>
                 <div class="my-form__actions">
                     <div class="my-form__row">
                         <span>Нет аккаунта?</span>
                         <a href="/registration" title="Reset Password">
                             Зарегистрируйтесь сейчас!
                         </a>
                     </div>
                 </div>
             </form>
         </main>
     </div>
 </body>
 
 </html>
 