.notification-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999; 
}

.notification-bad {
  background-color: #ff0000;
  color: #fff; 
  padding: 10px 20px; 
  border-radius: 5px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  margin-bottom: 10px; 
  opacity: 0; 
  animation: fadeOut 6s ease forwards; 
}

.notification-succes {
  background-color: #5bff56;
  color: #fff; 
  padding: 10px 20px; 
  border-radius: 5px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  margin-bottom: 10px; 
  opacity: 0; 
  animation: fadeOut 6s ease forwards; 
}

.notification-bad::before,
.notification-success::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  animation: slideIn 0.5s ease forwards; 
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}



 
  
  body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    padding-left:1rem;
    height: 100%;
    background: var(--bg);
    margin: -8px;
    height: 1450px;
  }
  
  html {
    height: 100%;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ul{
    list-style-type: none;
}

  
  
  .sidebar {
    position: sticky;
    top: 2rem;
    left: 0;
    width: 100%;
    height: 90vh;
    border-radius: 1rem;
    user-select: none;
    max-width: 18rem;
    min-width: 4rem;
    display: flex;
    color: var(--white);
    flex-direction: column;
    background-color: var(--sidebar-bg);
    box-shadow: var(--shadow);
    transition: max-width 0.2s ease-in-out;
  }
  
  .scroll {
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    overflow-x: hidden;
  }

  .scroll-margin{
    margin-right: -9px;
  }
  
  .sidebar-links .scroll {
    position: absolute;
    visibility: hidden;
  }
  
  .sidebar h2 {
    color: var(--headline-text);
    font-size: 1rem;
    margin-top: 1rem;
    line-height: 1.5rem;
  }

  
  
  body.collapsed .sidebar h2 {
    display: none;
  }
  
  body.collapsed .sidebar {
    max-width: 5rem;
    display: flex;
  }
  
  body.collapsed .hide {
    position: absolute;
    visibility: hidden;
  }
  
  /*? sidebar top */
  .sidebar-top-wrapper {
    position: relative;
    display: flex;
    background: var(--primary-color-light);
  }
  
  .sidebar-top {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 4rem;
    padding: 1rem;
    padding-top: 2rem;
  }
  
  .logo__wrapper {
    display: flex;
    align-items: center;
    color: var(--text-link);
    font-weight: 700;
    text-decoration: none;
    font-size: 1.35rem;
    gap: 0.75rem;
  }
  
  .logo-small {
    height: 3rem;
    width: 3rem;
    border-radius: 0.4rem;
    padding: 0.25rem;
    overflow: hidden;
    object-fit: cover;
  }
  
  .company-name {
    white-space: nowrap;
  }
  
  /*? menu links */
  
  .sidebar-links-wrapper {
    overflow: hidden;
    padding: 1rem;
    position: relative;
  }
  
  body.collapsed .sidebar-links-wrapper {
    overflow: hidden;
  }
  
  .sidebar-links ul {
    list-style-type: none;
    display: flex;
    row-gap: 0.5rem;
    flex-direction: column;
  }
  
  .sidebar-links li {
    color: var(--text-link);
    min-width: 3rem;
  }
  
  .sidebar-links li svg {
    stroke: var(--text-link);
    width: 1.75rem;
    height: 1.75rem;
    min-width: 1.75rem;
  }
  
  .sidebar-links li a:hover {
    background: var(--sidebar-hover);
  }
  
  .sidebar-links li a {
    cursor: pointer;
    color: var(--text-link);
    width: 100%;
    padding: 0 0.6rem;
    font-size: 1.25rem;
    display: flex;
    gap: 0.75rem;
    border-radius: 0.75rem;
    justify-content: start;
    align-items: center;
    min-height: 3.25rem;
    text-decoration: none;
    transition: background 0.2s ease-in-out;
  }
  
  .sidebar-links li .tag {
    margin-left: auto;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.75rem;
    background: var(--sidebar-hover);
    color: var(--text-link);
    border: 1px solid var(--shadow-color);
  }
  
  .sidebar-links li a .link {
    overflow: hidden;
    white-space: nowrap;
    animation: fadeIn 0.2s ease-in-out;
  }
  
  .sidebar-links .active:hover {
    background: var(--sidebar-hover);
  }
  
  .sidebar-links .active {
    text-decoration: none;
    background: var(--sidebar-hover);
    color: var(--text-link);
  }
  
  .sidebar-links .active svg {
    stroke: var(--text-link);
  }
  
  .divider {
    display: none;
  }
  
  body.collapsed .divider {
    width: 100%;
    display: block;
    background: var(--divider-bg);
    height: 2px;
    margin: 0.5rem 0;
  }
  
  /*? profile part */
  .sidebar__profile {
    display: flex;
    padding: 1rem;
    align-items: center;
    gap: 0.75rem;
    flex-direction: row;
    color: var(--text-link);
    overflow: hidden;
    min-height: 4rem;
    margin-top: auto;
  }
  
  .avatar__wrapper {
    position: relative;
    display: flex;
  }
  
  .avatar {
    display: block;
    width: 48px;
    height: 45px;
    min-height: 3rem;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
  }
  
  .avatar__name {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    white-space: nowrap;
  }
  
  .user-name {
    font-weight: 600;
    text-align: left;
    color: var(--text-link);
  }
  
  /* .email {
    color: var(--text-link);
    font-size: 0.8rem;
  } */
  
  .sidebar__profile .menu {
    margin-left: auto;
    padding: 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
  }
  
  .sidebar__profile .menu:hover {
    padding: 0.5rem;
    border-radius: 50%;
    background: var(--sidebar-hover);
  }
  
  /*? Expand button */
  .expand-btn {
    position: absolute;
    display: grid;
    place-items: center;
    cursor: pointer;
    background: var(--sidebar-bg);
    z-index: 2;
    box-shadow: var(--shadow);
    right: -1.2rem;
    top: 1.4rem;
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 50%;
  }
  
  .expand-btn svg {
    transform: rotate(-180deg);
    stroke: var(--text-link);
    width: 1.25rem;
    height: 1.25rem;
  }
  
  /*? Logout button */
  .logout__btn {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
  }
  
  .logout__btn .hide {
    position: absolute;
    visibility: hidden;
    
  }

  .logout{
    cursor: pointer;
}

  
  body.collapsed .expand-btn svg {
    transform: rotate(-360deg);
  }
  
  .container {
    display: flex;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    padding-left: 1rem;
    height: 100%; /* Подстраивается высота под размер экрана */
    background: var(--bg);
  }
  
  .content__container{
    display: none;
  }
  
  .content {
    width: 100%;
    height: 100%;
  }
  
  .content__wrapper {
    margin-left: 3rem;
    border-radius: 1rem;
  }
  
  .navigation {
    position: sticky;
    z-index: 222;
    top:2rem;
    display: flex;
    width: 100%;
    height: 60px;
    border-radius: 1rem;
    background-color: var(--white);
    color: var(--white);
    box-shadow: var(--shadow);
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
  }

  .choosenSubject {
    background-color:var(--sidebar-hover);
    border-radius: 0.75rem;
}

  
  @keyframes fadeIn {
    from {
      width: 4rem;
      opacity: 0;
    }
  
    to {
      opacity: 1;
      width: 100%;
    }
  }

  /* Правая навигация */

  .right-sidebar{
    position: sticky;
    top: 2rem;
    right: 0;
    margin: 0 1rem;
    height: 90vh;
  }

  .right-sidebar-container{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    border-radius: 1rem;
    background-color: var(--white);
  }

  .link-border{
    cursor: pointer;
    position: relative;
    border: 1px solid black;
    background-color: var(--sidebar-hover);
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: var(--white);
  }

  .caption {
    position: absolute;
    bottom: -1.25rem; 
    left: 50%;
    transform: translateX(-50%); 
    font-size: 0.7rem; 
    color: #333; 
}

  .link-border.choose{
    background-color: var(--choosen-button);
    
  }

  .link-border.choose svg path{
    fill:white;
  }

  .fill-svg svg path{
    fill: white; 
    stroke: none; 
  }

  /* Успеваемость - оценки*/

  .content__body{
    
    margin-top: 30px;
  }

  .content__row{
    margin-top: 30px;
  }


  .grade-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
  }

  .grade-box{
    display: flex;
    align-items: center;
    height: 6rem;
    background-color: var(--white);
    padding: 0 30px;
    gap:30px;
    box-shadow: 0 4px 20px 1px rgba(122, 200, 96, 0.06), 0 1px 4px rgba(0,0,0,.08);
    border-radius: 0.75rem;
  }

  .grade-title{
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-style: normal;
    color: #89879f;
  }

  .grade__img{
    height: 60px;
    width: 60px;
  }
  
  .grade-score{
    font-size: 26px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--headline-text)
  }

  /* Успеваемость - график*/

  .chart-container{
    display: grid;
    grid-template-columns: 2.05fr 1fr;
    grid-column-gap: 20px;
  }

  .chart-box{
    padding: 30px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 20px 1px rgba(122, 200, 96, 0.06), 0 1px 4px rgba(0,0,0,.08);
    border-radius: 0.75rem;
  }

  

  .chart-name{

    font-size: 22px;
    font-family: "Inter", sans-serif;
  }
  
  .chart-title{
    margin-bottom: 15px;
  }

  .chart-title.mg-0{
    margin: 0;
  }

  .content__container.active{
    z-index: 0;
    display: block;
  }
  


.chart{
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

#academDiagram{
    max-width: 100%; 
    max-height: 100%; 
}
#academChartCircle{
    max-width: 100%; 
    max-height: 100%; 
}
#practiseDiagram{
    max-width: 100%; 
    max-height: 100%; 
}

#practiseChartCircle{
    max-width: 100%; 
    max-height: 100%; 
}


/* Советы - график */

.advice-second-section-content {
    position: relative;
    z-index: 0;
  }
  
  .advice-second-section-content::after {
    z-index: 0;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%; /* размещаем по центру по горизонтали */
    width: 1px; /* ширина линии */
    background-color: #ebeef6; 
  }

.advice-chart-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.advice-chart-box {
    height: 50vh;
    box-shadow: 0 4px 20px 1px rgba(122, 200, 96, 0.06), 0 1px 4px rgba(0,0,0,.08);
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px;
    border-radius: 0.75rem;
}

.advice-chart-action{
    display: flex;
}

.advice-chart-action-link{
    padding: 10px 20px;
    border: 1px solid #ebeef6;
    cursor: pointer;
}

.advice-chart-action-link:last-child{
    border-radius: 0 10px 10px 0;
}

.advice-chart-action-link:first-child{

    border-radius: 10px 0 0 10px;
}

.choose-chart{
    background-color: #3a7afe;
    color:white;
}

.advice-chart{
    display: none;
}



.advice-chart.show{
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.request-grade-edit-box{
  margin-top: auto;
}



#advice-chart-interface {
    max-width: 100%; 
    max-height: 100%;
}
#academ-combined-chart-interface{
    max-width: 100%; 
    max-height: 100%; 
}
#practise-combined-chart-interface{
    max-width: 100%;
    max-height: 100%; 
}

/* Советы - запрос,работа */

.advice-second-section-box{
    display: flex;
    gap: 30px;
}

.advice-chart-name{
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 22px;
}

.request-font{
    font-size: 22px;
    font-family: "M PLUS Rounded 1c", sans-serif;
}

.request-font-text{
  padding-bottom: 0.5rem;
  font-size: 16px;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.adivice-second-section-container{
    margin-top: 30px;
}

.advice-second-section-content{
    width: 50%;
    background-color: white;
    box-shadow: 0 4px 20px 1px rgba(122, 200, 96, 0.06), 0 1px 4px rgba(0,0,0,.08);
    border-radius: 0.75rem;
}

.advice-second-section-container{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 20px; 
    height: 100%;
}

.advice-second-section-left,
.advice-second-section-right{
  padding-left: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 20px;

}

.advice-second-section-left{
    justify-content: space-between;
    padding: 0;
}

.advice-second-section-right{
  /* justify-content: space-between; */
}

.work-submit-button-box{
    margin-top: auto;
}


.work-submit-button-box{
    justify-self: end;
}


.request-submit{
    border-radius: 0.75rem;
    background-color: white;
    padding: 10px;
    border :1px solid #999;
    cursor: pointer;
}

.requirements-content{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(111, 133, 147, 0.1) #fff0;
    width: 100%;
    max-height: 200px;
    
}



.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 8px;
    font-size: 22px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    outline: none;
  }
  
  .custom-select:hover,
  .custom-select:focus {
    border-color: #999;
  }
  
  .custom-select option {
    padding: 8px;
  }

  
  .work-submit-button-box{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Советы - улучшение успеваемости по советам */


  .advice-third-section-container{
    margin-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
    gap:22px;
  }

  .advice-third-section-box{
    flex-basis: 31.4%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 20px 1px rgba(122, 200, 96, 0.06), 0 1px 4px rgba(0,0,0,.08);
    border-radius: 0.75rem;
  }



  .advice-third-section-title{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  .advice-third-section-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ebeef6;
  }

  .advice-third-section-content{
    padding-top: 20px;
    word-wrap: break-word;
  }


  .enabled-button {
    background-color: #58ef60;
    color: white;
  }
  
  .disabled-button {
    background-color: gray;
    color: white;
  }

.request-font{
    font-size: 1.25rem;
    font-family: "Inter", sans-serif;
}



.request-grade-left-side-content{

    padding: 1rem 2rem;
    font-size: 80px;
}


