<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Sidebar</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap" rel="stylesheet">
  </head>

  <div class="modal" [ngClass]="{'show-modal': showModalConfirm}" >
    <div class="modal-content">
        <h2>Вы уверены?</h2>
        <div class="modal-box">
          <button class="yes" (click)="confirm()">Да</button>
          <button class="cancel" (click)="closeModal()">Отмена</button>
        </div>
    </div>
  </div>  

  <body class="body modal-open">
    <div class="container">
      <nav class="sidebar">
        <div class="sidebar-top-wrapper">
          <div class="sidebar-top">
            <a href="#" class="logo__wrapper">
              <img src="assets/images/logo.svg" alt="Logo" class="logo-small" />
              <span class="hide company-name"> PLATANUS </span>
            </a>
          </div>
          <button class="expand-btn" type="button" (click)="toggleCollapsed()">
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6.00979 2.72L10.3565 7.06667C10.8698 7.58 10.8698 8.42 10.3565 8.93333L6.00979 13.28"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
        </div>
        <div class="sidebar-links-wrapper">
          <div class="sidebar-links scroll">
            <ul>
              <li>
                <a href="goal" title="Академ.прогресс" class="tooltip">
                  <svg
                    width="22"
                    height="23"
                    viewBox="0 0 22 23"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1.82764 11.8634C1.82764 8.49248 1.82764 6.80699 2.57126 5.61223C2.84639 5.17021 3.18813 4.78574 3.58105 4.47623C4.64306 3.63965 6.14126 3.63965 9.13767 3.63965H12.7927C15.7891 3.63965 17.2873 3.63965 18.3493 4.47623C18.7422 4.78574 19.084 5.17021 19.3591 5.61223C20.1027 6.80699 20.1027 8.49248 20.1027 11.8634C20.1027 15.2344 20.1027 16.9199 19.3591 18.1146C19.084 18.5567 18.7422 18.9411 18.3493 19.2506C17.2873 20.0872 15.7891 20.0872 12.7927 20.0872H9.13767C6.14126 20.0872 4.64306 20.0872 3.58105 19.2506C3.18813 18.9411 2.84639 18.5567 2.57126 18.1146C1.82764 16.9199 1.82764 15.2344 1.82764 11.8634Z"
                      stroke="#141B34"
                      stroke-width="1.4"
                    />
                    <path
                      d="M8.68066 3.63965L8.68066 20.0872"
                      stroke="#141B34"
                      stroke-width="1.4"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M4.56885 7.29492H5.4826M4.56885 10.0362H5.4826"
                      stroke="#141B34"
                      stroke-width="1.4"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                  <span class="link hide">Академ.прогресс</span>
                  <div class="tag hide">Новое</div>
                </a>
              </li>
              <li>
                <a href="#work" title="Связь с работадателем" class="tooltip">
                  <svg
                    width="22"
                    height="23"
                    viewBox="0 0 22 23"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M2.74121 10.7832L2.8809 13.7318C3.031 16.8766 3.10604 18.449 4.16561 19.4133C5.22519 20.3776 6.87792 20.3776 10.1834 20.3776H11.7466C15.0521 20.3776 16.7048 20.3776 17.7644 19.4133C18.824 18.449 18.899 16.8766 19.0491 13.7318L19.1888 10.7832"
                      stroke="#141B34"
                      stroke-width="1.4"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M2.60142 10.2747C4.15416 13.2274 7.65632 14.4386 10.9648 14.4386C14.2734 14.4386 17.7755 13.2274 19.3283 10.2747C20.0695 8.86524 19.5082 6.21484 17.6828 6.21484H4.24693C2.42146 6.21484 1.86022 8.86524 2.60142 10.2747Z"
                      stroke="#141B34"
                      stroke-width="1.4"
                    />
                    <path
                      d="M10.9648 10.7832H10.9731"
                      stroke="#141B34"
                      stroke-width="1.4"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M14.6196 6.21474L14.5389 5.93233C14.1369 4.52511 13.9358 3.8215 13.4572 3.41905C12.9786 3.0166 12.3429 3.0166 11.0715 3.0166H10.8577C9.58627 3.0166 8.95056 3.0166 8.47196 3.41905C7.99335 3.8215 7.79232 4.52511 7.39026 5.93233L7.30957 6.21474"
                      stroke="#141B34"
                      stroke-width="1.4"
                    />
                  </svg>
                  <span class="link hide">Связь с работадателем</span>
                  <div class="tag hide">Новое</div>
                </a>
              </li>
              <li>
                <a href="aim" title="Цели" class="tooltip" style="background-color: #f5f5f5;">
                  <svg
                    width="22"
                    height="23"
                    viewBox="0 0 22 23"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11.8789 14.5088C9.78491 19.9913 3.92166 14.5088 1.82764 19.9913"
                      stroke="#141B34"
                      stroke-width="1.4"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M14.1636 14.509H15.5354C17.6891 14.509 18.766 14.509 19.4351 13.8399C20.1041 13.1708 20.1041 12.094 20.1041 9.94022V8.11272C20.1041 5.95898 20.1041 4.88211 19.4351 4.21303C18.766 3.54395 17.6891 3.54395 15.5354 3.54395L11.8804 3.54395C9.72661 3.54395 8.64974 3.54395 7.98066 4.21303C7.41376 4.77993 7.32719 5.63958 7.31396 7.19896"
                      stroke="#141B34"
                      stroke-width="1.4"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <ellipse
                      cx="6.85323"
                      cy="12.2248"
                      rx="2.28439"
                      ry="2.28439"
                      stroke="#141B34"
                      stroke-width="1.4"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M10.9653 7.19922L16.4479 7.19922M16.4479 10.8542L13.7066 10.8542"
                      stroke="#141B34"
                      stroke-width="1.4"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                  <span class="link hide">Цели</span>
                  <div class="tag hide">Новое</div>
                </a>
              </li>
            </ul>
            <h2>Основной раздел</h2>
            <div class="divider"></div>
            <ul>
              <li>
                <a href="#main" title="Главная" class="tooltip">
                  <svg
                    width="22"
                    height="23"
                    viewBox="0 0 22 23"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_15_5297)">
                      <path
                        d="M18.9821 17.2756C19.6667 17.2756 20.2113 16.8447 20.7003 16.2423C21.7013 15.009 20.0578 14.0234 19.431 13.5407C18.7938 13.05 18.0824 12.7721 17.361 12.7068M16.4473 10.8793C17.7089 10.8793 18.7317 9.85656 18.7317 8.59493C18.7317 7.3333 17.7089 6.31055 16.4473 6.31055"
                        stroke="#141B34"
                        stroke-width="1.4"
                        stroke-linecap="round"
                      />
                      <path
                        d="M2.94755 17.2756C2.26287 17.2756 1.71829 16.8447 1.22932 16.2423C0.22834 15.009 1.8718 14.0234 2.49861 13.5407C3.1358 13.05 3.84726 12.7721 4.56859 12.7068M5.02547 10.8793C3.76384 10.8793 2.74108 9.85656 2.74108 8.59493C2.74108 7.3333 3.76384 6.31055 5.02547 6.31055"
                        stroke="#141B34"
                        stroke-width="1.4"
                        stroke-linecap="round"
                      />
                      <path
                        d="M7.38635 14.6364C6.4527 15.2138 4.00471 16.3926 5.4957 17.8677C6.22403 18.5883 7.03521 19.1036 8.05506 19.1036H13.8745C14.8944 19.1036 15.7056 18.5883 16.4339 17.8677C17.9249 16.3926 15.4769 15.2138 14.5432 14.6364C12.3538 13.2826 9.57576 13.2826 7.38635 14.6364Z"
                        stroke="#141B34"
                        stroke-width="1.4"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M14.1629 7.68154C14.1629 9.44782 12.731 10.8797 10.9647 10.8797C9.19846 10.8797 7.7666 9.44782 7.7666 7.68154C7.7666 5.91525 9.19846 4.4834 10.9647 4.4834C12.731 4.4834 14.1629 5.91525 14.1629 7.68154Z"
                        stroke="#141B34"
                        stroke-width="1.4"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_15_5297">
                        <rect
                          width="21.9301"
                          height="21.9301"
                          fill="white"
                          transform="translate(0 0.828125)"
                        />
                      </clipPath>
                    </defs>
                  </svg>
                  <span class="link hide">Главная</span>
                </a>
              </li>
              <li>
                <a href="aim" title="Цели" class="tooltip">
                  <svg
                    width="22"
                    height="23"
                    viewBox="0 0 22 23"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11.8789 14.5088C9.78491 19.9913 3.92166 14.5088 1.82764 19.9913"
                      stroke="#141B34"
                      stroke-width="1.4"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M14.1636 14.509H15.5354C17.6891 14.509 18.766 14.509 19.4351 13.8399C20.1041 13.1708 20.1041 12.094 20.1041 9.94022V8.11272C20.1041 5.95898 20.1041 4.88211 19.4351 4.21303C18.766 3.54395 17.6891 3.54395 15.5354 3.54395L11.8804 3.54395C9.72661 3.54395 8.64974 3.54395 7.98066 4.21303C7.41376 4.77993 7.32719 5.63958 7.31396 7.19896"
                      stroke="#141B34"
                      stroke-width="1.4"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <ellipse
                      cx="6.85323"
                      cy="12.2248"
                      rx="2.28439"
                      ry="2.28439"
                      stroke="#141B34"
                      stroke-width="1.4"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M10.9653 7.19922L16.4479 7.19922M16.4479 10.8542L13.7066 10.8542"
                      stroke="#141B34"
                      stroke-width="1.4"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                  <span class="link hide">Создать цель</span>
                </a>
              </li>
              <li>
                <a href="createResume" title="Работа" class="tooltip">
                  <svg
                    width="22"
                    height="23"
                    viewBox="0 0 22 23"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M2.74121 10.7832L2.8809 13.7318C3.031 16.8766 3.10604 18.449 4.16561 19.4133C5.22519 20.3776 6.87792 20.3776 10.1834 20.3776H11.7466C15.0521 20.3776 16.7048 20.3776 17.7644 19.4133C18.824 18.449 18.899 16.8766 19.0491 13.7318L19.1888 10.7832"
                      stroke="#141B34"
                      stroke-width="1.4"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M2.60142 10.2747C4.15416 13.2274 7.65632 14.4386 10.9648 14.4386C14.2734 14.4386 17.7755 13.2274 19.3283 10.2747C20.0695 8.86524 19.5082 6.21484 17.6828 6.21484H4.24693C2.42146 6.21484 1.86022 8.86524 2.60142 10.2747Z"
                      stroke="#141B34"
                      stroke-width="1.4"
                    />
                    <path
                      d="M10.9648 10.7832H10.9731"
                      stroke="#141B34"
                      stroke-width="1.4"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M14.6196 6.21474L14.5389 5.93233C14.1369 4.52511 13.9358 3.8215 13.4572 3.41905C12.9786 3.0166 12.3429 3.0166 11.0715 3.0166H10.8577C9.58627 3.0166 8.95056 3.0166 8.47196 3.41905C7.99335 3.8215 7.79232 4.52511 7.39026 5.93233L7.30957 6.21474"
                      stroke="#141B34"
                      stroke-width="1.4"
                    />
                  </svg>
                  <span class="link hide">Создать резюме</span>
                </a>
              </li>
            </ul>
            <h2>IT-профессии</h2>
            <div class="divider"></div>
            <ul>
              <li>
                <a href="#front-end" title="Front-end" class="tooltip">
                  <img
                    src="assets/images/front.svg"
                    width="25"
                    height="26"
                    alt="Front-end"
                  />
                  <span class="link hide">Front-end</span>
                  
                </a>
              </li>
              <li>
                <a href="#back-end" title="Back-end" class="tooltip">
                  <img
                    src="assets/images/back.svg"
                    width="25"
                    height="26"
                    alt="Back-end"
                  />

                  <span class="link hide">Back-end</span>
                </a>
              </li>
              <li>
                <a href="#full-stack" title="Full-stack" class="tooltip">
                  <img
                    src="assets/images/full.svg"
                    width="25"
                    height="26"
                    alt="Full-stack"
                  />
                  <span class="link hide">Full-stack</span>
                </a>
              </li>
              <li>
                <a href="#data-science" title="Data-science" class="tooltip">
                  <img
                    src="assets/images/data.svg"
                    width="25"
                    height="26"
                    alt="Data-science"
                  />
                  <span class="link hide">Data-Science</span>
                </a>
              </li>
              <li>
                <a
                  href="#machine-learning"
                  title="Машинное обучение"
                  class="tooltip"
                >
                  <img
                    src="assets/images/learning.svg"
                    width="25"
                    height="26"
                    alt="Machine learning"
                  />
                  <span class="link hide">Machine Learning</span>
                </a>
              </li>

              <li>
                <a href="#support" title="Поддержка" class="tooltip">
                  <svg
                    width="22"
                    height="23"
                    viewBox="0 0 22 23"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M20.1027 10.7875C20.1027 15.615 16.0111 19.5292 10.9652 19.5292C10.3719 19.5299 9.78026 19.4751 9.19744 19.3656C8.77795 19.2868 8.5682 19.2474 8.42177 19.2698C8.27534 19.2922 8.06783 19.4025 7.65281 19.6232C6.47877 20.2476 5.1098 20.4681 3.79322 20.2232C4.29362 19.6077 4.63537 18.8692 4.78617 18.0775C4.87754 17.5933 4.65114 17.1228 4.31203 16.7785C2.77185 15.2145 1.82764 13.107 1.82764 10.7875C1.82764 5.96003 5.91923 2.0459 10.9652 2.0459C16.0111 2.0459 20.1027 5.96003 20.1027 10.7875Z"
                      stroke="#141B34"
                      stroke-width="1.4"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M10.961 11.1836H10.9692M14.6119 11.1836H14.6201M7.31006 11.1836H7.31826"
                      stroke="#141B34"
                      stroke-width="1.69"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                  <span class="link hide">Поддержка</span>
                  <div class="tag hide">Бета</div>
                </a>
              </li>
            </ul>
            <div class="divider"></div>
          </div>
        </div>
        <div class="sidebar__profile">
          <div class="avatar__wrapper">
            <img class="avatar" src="assets/images/profile.png" alt="Profile Avatar" />
            <div class="online__status"></div>
          </div>
          <div class="avatar__name hide">
            <div class="user-name" *ngIf="user$ | async as user">{{user.name}}</div>
            <div class="tag hide">Студент</div>
          </div>
          <div class="logout__btn hide">
            <a 
              ><img (click)="logOutFun()" src="assets/images/logout.png" alt="Выйти" width="22" height="22"
            /></a>
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="left__container">
          
          <div class="faq-container" *ngIf="aimList">
            <div>
              <span class="faq-title" style="font-weight: 600;">
                  Цели:
              </span>
              <span class="faq-title">Краткое описание всех имеющихся целей по вашей программе</span>
              <div class="faq-box" *ngFor="let item of aimList | keyvalue">
                <details > 
                  <summary>
                    <span class="faq-title">
                      {{item.key}}
                    </span>
                    <div *ngIf="item.value.status =='В ожидании'">
                      <div class="faq-tag">
                        <span class="tag-name-pending">Активно</span>
                      </div>
                    </div>
                    <div *ngIf="item.value.status =='Одобрено'">
                      <div class="faq-tag">
                        <span class="tag-name-access">Завершено</span>
                      </div>
                    </div>
                    <div *ngIf="item.value.status =='Отклонено'">
                      <div class="faq-tag">
                        <span class="tag-name-fail">Провалено</span>
                      </div>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="expand-icon" width="24" height="24" viewBox="0 0 24 24"
                      stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M9 6l6 6l-6 6"></path>
                    </svg>
                  </summary>
                
                  <div class="faq-content">             
                    <!-- Фронтенд-разработчик - это специалист, который занимается созданием пользовательского интерфейса веб-приложений.  -->
                    <div class="requirement">
                      <p>Требования</p>
                      <p *ngFor="let value of item.value.values"> - {{value}}</p>
                    </div>
                    <div class="choose-aim" *ngIf="item.value.status === 'none'">
                      <button class="choose-aim-button" (click)="chooseAim(item.key)">Выбрать</button>
                    </div>                  
                  </div>
                </details>
              </div>  
            </div>
            <div class="left__content">
              <div class="progress__bar">
                <p>Ваш прогресс</p>
                <div class="progress-width" *ngFor="let item of aimList | keyvalue">
                  <span class="progress-title" *ngIf="item.value.status != 'none'"ч>{{item.key}}</span>
                  <div class="progress" *ngIf="item.value.status != 'none'">             
                    <div class="progress-bar" [style.width.%]="progressPercentage" >
                      {{ progressPercentage }}%
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="content">
          <div class="top__content">
            <div class="resume">
              <div class="resume-container" *ngIf="aimList">
                <div class="resume-title">
                  <span style="color:white">Активные цели</span>
                </div>
                <div class="resume-content">
                  <span class="aim-number" style="color: rgb(255, 255, 65);">{{ countPendingNumber }}</span>
                </div>
              </div>
              <div class="resume-container">
                <div class="resume-title">
                  <span style="color:white">Проваленные цели</span>
                </div>
                <div class="resume-content">
                  <span class="aim-number" style="color: red;">{{ countFailedNumber }}</span>
                </div>
              </div>
              <div class="resume-container">
                <div class="resume-title">
                  <span style="color:white">Завершенные цели</span>
                </div>
                <div class="resume-content">
                  <span class="aim-number" style="color:rgb(108, 255, 108)">{{ countCompletedNumber }}</span>
                </div>
              </div>
            </div>
            <div class="table-widget">
                <table>
                    <caption>
                        Ваши цели
                        <span class="table-row-count" *ngIf="aimTableData$ | async as aimTableData">({{ aimTableData.aims.length }})</span>
                    </caption> 
                    <thead>
                        <tr>
                            <th>Имя</th>
                            <th>Название</th>
                            <th>Категория</th>
                            <th>Статус</th>
                        </tr>
                    </thead>
                    <tbody id="table-rows">
                        <tr *ngFor="let record of mappedRecords$ | async">
                            <td class="team-member-profile">
                                <div class="team-member-box">
                                    <img [src]="record.src" [alt]="record.name">
                                    <span class="profile-info">
                                        <span class="profile-info__name">
                                            {{ record.name }} 
                                        </span>
                                        <span class=profile-info__alias>
                                            {{ record.email }}
                                        </span>
                                    </span>
                                </div>
                            </td>
                            <td>{{record.objectName}}</td>
                            <td>
                                {{ record.category }}
                            </td>
                            <td >
                                <span [class]="'status status--' + record.status">
                                    {{ record.status }}
                                </span>
                                <span (click)="modalChangeToggle(record)" style="margin-left: 10px; vertical-align: middle">
                                  <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="25px" height="25px"><path d="M 25 2 C 12.309295 2 2 12.309295 2 25 C 2 37.690705 12.309295 48 25 48 C 37.690705 48 48 37.690705 48 25 C 48 12.309295 37.690705 2 25 2 z M 25 4 C 36.609824 4 46 13.390176 46 25 C 46 36.609824 36.609824 46 25 46 C 13.390176 46 4 36.609824 4 25 C 4 13.390176 13.390176 4 25 4 z M 25 11 A 3 3 0 0 0 22 14 A 3 3 0 0 0 25 17 A 3 3 0 0 0 28 14 A 3 3 0 0 0 25 11 z M 21 21 L 21 23 L 22 23 L 23 23 L 23 36 L 22 36 L 21 36 L 21 38 L 22 38 L 23 38 L 27 38 L 28 38 L 29 38 L 29 36 L 28 36 L 27 36 L 27 21 L 26 21 L 22 21 L 21 21 z"/></svg>
                                </span>
                            </td>



                            <div class="modal-edit" [class.active]="modalChange">
                              <div class="modal-content-edit">
                                <span class="close-edit" (click)="close()">&times;</span>
                                <h2 style="padding-bottom: 1rem;">Редактирование цели</h2>
                                <div class="edit-content" >
                                  <label for="name" >Название: </label>
                                  <input style="height: 2rem; width: 100%;"  type="text" id="name" [(ngModel)]="recordForEdit.objectName" placeholder="Введите имя">
                                  <label for="description">Описание: </label>
                                  <textarea id="description" [(ngModel)]="recordForEdit.description" placeholder="Введите описание" style="resize: none; height: 5rem; width: 100%;"></textarea>
                                </div>
                                
                                <div class="button-container" style="display: flex; justify-content: center; gap: 1rem;">
                                  <button (click)="cancel()">Отменить</button>
                                  <button (click)="save(recordForEdit.objectName,recordForEdit.description,recordForEdit.aimId)" >Сохранить</button>
                                </div>
                              </div>
                            </div>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <ul class="pagination">
                                     <li *ngFor="let link of linkList">
                                        <a  [class.active]="link.isActive" (click)="setActive(link)">
                                        {{ link.pageNumber }}
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                
                
            </div>
          </div>
          <div class="bottom__content">
            
          </div>
        </div>
        
      </div>
    </div>
    
    </body>
</html>
